// List Groups

@mixin list-group-item-variant($state, $background, $color) {
  $white: #fff;
  
  .list-group-item-#{state} {
    background-color: $background;
    color: $color;
  }

  a.list-group-item-#{state},
  button.list-group-item-#{state} {
    color: $color;

    @include hover-focus {
      background-color: darken($background, 5%);
      color: $color;
    }

    .list-group-item-heading {
      color: inherit;
    }

    &.active {
      @include plain-hover-focus {
        background-color: $color;
        border-color: $color;
        color: $white;
      }
    }
  }
}
